@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(12px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
